<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body>
        <h1 th:text="${title}">Default Title</h1>
        <nav th:replace="fragments :: navigation"></nav>
        <nav>
            <a href="/menu/add">Add Menu</a>
        </nav>

        <h2>Categories</h2>
        <p th:unless="${menus} and ${menus.size()}">no Menus :(</p>

        <ul th:each="menu : ${menus}">
            <li>
                <a th:href="/menu/view/${menu.id}" th:text="${menu.name}">Menu</a>
            </li>
        </ul>

    </body>
</html>